#game-view {
  width: 700px;
  margin: 0 auto;
  background: #212121;
}
body {
	background: #212121;
}
#share {
  color: #bdbdbd;
  margin-bottom: 3em;
  font-size: 0.8em;
  padding-bottom: 2em;
  border-bottom: 1px #EEE solid;
  font-family: system, -apple-system, BlinkMacSystemFont,
      "Helvetica Neue", "Lucida Grande";
}

#share .url {
    color: #888;
}

#status-line { text-align: center; margin-bottom: 1em; font-size: 2em; text-shadow: 1px 1px 0px #4b4b4b; }
.red .status-text { color: #bc1616; }
.blue .status-text { color: #135cb0; }
.win .status-text { font-size: 2em; }
#status-line #status {
    display: inline-block;
    font-weight: bold;
}

#remaining {font-size: 2em; margin-left: 5px;  text-shadow: 1px 1px 0px #4b4b4b;color: #bdbdbd;}
/*#remaining { float: left; color: #bdbdbd; font-size: 1.1em;}*/
#remaining .red-remaining { color: #bc1616; }
#remaining .blue-remaining { color: #135cb0; }

#button-line {
    margin-bottom: 1em;
}

.clear { clear: both; }

#end-turn-btn {
    border: 1px #616161 solid;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    padding: 5px;
    float: right;
    background: #424242;
    margin: 0 1em 0 0;
    cursor: pointer;
    color: #bdbdbd;
}

#mode-toggle {
    text-align: right;
    margin: 2em 5px 2em 0;
}

#mode-toggle button {
    padding: 5px;
    border: 1px #616161 solid;
    background: #424242;
    color: #bdbdbd;
    cursor: pointer;
}

#mode-toggle button.codemaster {
    border-left: none;
    border-radius: 0 5px 5px 0;
    -moz-border-radius:  0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
}

#mode-toggle button.player {
    border-radius: 5px 0 0 5px;
     margin-left: 10px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
}


#mode-toggle.player-selected button.hardmode  {
  visibility: hidden;
    border-left: none;
    border-radius: 0 5px 5px 0;
    -moz-border-radius:  0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
}

#mode-toggle.player-selected button.normal {
    visibility: hidden;
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
}
#mode-toggle.codemaster-selected button.hardmode  {
    border-left: none;
    border-radius: 0 5px 5px 0;
    -moz-border-radius:  0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
}

#mode-toggle.codemaster-selected button.normal {
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
}

#mode-toggle.player-selected button.player,
#mode-toggle.codemaster-selected button.codemaster,
#mode-toggle.hard-selected button.hardmode,
#mode-toggle.normal-selected button.normal{
    cursor: auto;
    color: #999;
}

#next-game-btn {
    margin-left: 10px;
}

.cell {
    width: 120px;
    height: 80px;
    line-height: 80px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    text-align: center;
    box-shadow: inset 0 0px 3px #00000080;
}

.player #board .hidden-word { cursor: pointer; }

#board .neutral.revealed { background: #525252; }

.cell .word {
    vertical-align: middle;
    display: inline-block;
}

.cell { background: #757575; font-size: 1.1em;}

.codemaster .red.hidden-word { color: #8c0f0f; text-shadow: 1px 1px 0px #7d7d7d;}
.codemaster .blue.hidden-word { color: #0d407b; text-shadow: 1px 1px 0px #7d7d7d;}
.codemaster .black.hidden-word.normal { background: #383737; color: #c5c5c5; text-shadow: 1px 1px 0px #181818; }
.codemaster .black.hidden-word.hardmode { background: #757575; color: #000; }
.codemaster .cell { font-weight: 900; }

#board .red.revealed { background: #8c0f0f; color: #FFF; }
#board .blue.revealed { background: #0d407b; color: #FFF; }
#board .black.revealed { background: #000000; color: #FFF; }
